
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}

.menu {
    list-style: none;
    padding: 0;
    background: green;
    width: 100%;
    max-width: 1000px;
    /*para visualizarlo completo en cualquier navegador o dispositivo móvil*/
    /* margin: 20px auto; auto = center in the page */

}

.menu li {
    display: inline-block;
    /*cambia el texto de verse en forma vertical a ver la lista con forma horizontal*/
    text-align: center;
    width: 19%;   
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px;
    
}

.menu li a:hover {
    background: forestgreen;
}


img{
        width: 100%;
        vertical-align: top; 
}

.alinear{
    width: 100%;
    vertical-align: top; 
}
.alinear.organizar{
    width: 33%;
    max-height: 400px;
    vertical-align: top; 
}